In [1]:
import numpy as np
import pandas as pd

In [ ]:
#1 How likely is it that you roll doubles when rolling two dice?

In [5]:
n_simulations = 100_000
n_trials = 2
rolls = np.random.choice([1,2,3,4,5,6], size = (n_simulations, n_trials))
rolls = pd.DataFrame(rolls, columns=["die1","die2"])
rolls.head()

   die1  die2
0     2     3
1     3     1
2     2     5
3     2     1
4     1     1

In [7]:
(rolls.die1 == rolls.die2).mean()

0.16655

In [ ]:
#2 If you flip 8 coins, what is the probability of getting exactly 3 heads? 
# What is the probability of getting more than 3 heads?

In [8]:
n_simulations = 100_000
n_trials = 8
coin_flips = np.random.choice(["Heads", "Tails"], size=(100_000, 8))
coin_flips = pd.DataFrame(coin_flips)
coin_flips.head()

       0      1      2      3      4      5      6      7
0  Tails  Heads  Tails  Tails  Tails  Heads  Tails  Tails
1  Tails  Heads  Tails  Heads  Heads  Tails  Heads  Tails
2  Tails  Tails  Tails  Tails  Heads  Heads  Tails  Tails
3  Heads  Heads  Tails  Heads  Tails  Tails  Tails  Heads
4  Heads  Tails  Tails  Heads  Tails  Heads  Heads  Heads

In [9]:
(coin_flips == 'Heads').head()

       0      1      2      3      4      5      6      7
0  False   True  False  False  False   True  False  False
1  False   True  False   True   True  False   True  False
2  False  False  False  False   True   True  False  False
3   True   True  False   True  False  False  False   True
4   True  False  False   True  False   True   True   True

In [11]:
coin_flips["n_heads"]=(coin_flips == 'Heads').sum(axis=1)
coin_flips.head()

       0      1      2      3      4      5      6      7  n_heads
0  Tails  Heads  Tails  Tails  Tails  Heads  Tails  Tails        2
1  Tails  Heads  Tails  Heads  Heads  Tails  Heads  Tails        4
2  Tails  Tails  Tails  Tails  Heads  Heads  Tails  Tails        2
3  Heads  Heads  Tails  Heads  Tails  Tails  Tails  Heads        4
4  Heads  Tails  Tails  Heads  Tails  Heads  Heads  Heads        5

In [12]:
(coin_flips.n_heads > 3).mean()

0.63353

In [ ]:
#3 There are approximitely 3 web development cohorts for every 1 data science cohort at Codeup. 
# Assuming that Codeup randomly selects an alumni to put on a billboard, 
# what are the odds that the two billboards 
# I drive past both have data science students on them?

In [13]:
n_simulations = 100_000
n_trials = 2

billboards = np.random.choice(['Web Dev', 'Data Science'], p=(.75, .25), size=(n_simulations, n_trials))
billboards = pd.DataFrame(billboards)
billboards.head()

              0             1
0  Data Science       Web Dev
1       Web Dev       Web Dev
2       Web Dev  Data Science
3  Data Science       Web Dev
4       Web Dev       Web Dev

In [15]:
billboards['no_of_data_science']= (billboards =='Data Science').sum(axis=1)
(billboards.no_of_data_science == 2).mean()

0.06236

In [ ]:
#4 Codeup students buy, on average, 3 poptart packages with 
# a standard deviation of 1.5 a day from the snack vending machine. 
# If on monday the machine is restocked with 17 poptart packages, 
# how likely is it that I will be able to buy some poptarts on Friday afternoon? 
# (Remember, if you have mean and standard deviation, use the np.random.normal) 
# You'll need to make a judgement call on how to handle some of your values

In [25]:
n_simulations = 100_000
n_trials = 5
mean = 3
std = 1.5

poptarts = np.random.normal(mean, std, size=(n_simulations, n_trials)).round()
poptarts = pd.DataFrame(poptarts, columns = ("Mon", "Tue", "Wed", "Thu", "Fri"))
poptarts.head()

   Mon  Tue  Wed  Thu  Fri
0  3.0  2.0  2.0  6.0  2.0
1  2.0  3.0  3.0  3.0  5.0
2  2.0  2.0  4.0  1.0  1.0
3  1.0  3.0  4.0  3.0  2.0
4  2.0  4.0  2.0  4.0  6.0

In [26]:
poptarts["total_consumed"] = poptarts.sum(axis=1)
poptarts.head()

   Mon  Tue  Wed  Thu  Fri  total_consumed
0  3.0  2.0  2.0  6.0  2.0            15.0
1  2.0  3.0  3.0  3.0  5.0            16.0
2  2.0  2.0  4.0  1.0  1.0            10.0
3  1.0  3.0  4.0  3.0  2.0            13.0
4  2.0  4.0  2.0  4.0  6.0            18.0

In [28]:
(poptarts.total_consumed < 17).mean()

0.6707

In [ ]:
# 5 Compare Heights

# Men have an average height of 178 cm and standard deviation of 8cm.
# Women have a mean of 170, sd = 6cm.
# Since you have means and standard deviations, you can use np.random.normal to generate observations.
# If a man and woman are chosen at random, what is the likelihood the woman is taller than the man?

In [29]:
m_heights = np.random.normal(178, 8, size=100_000)
f_heights = np.random.normal(170, 6, size=100_000)
(f_heights > m_heights).mean()

0.21061

In [ ]:
# 6 When installing anaconda on a student's computer, there's a 1 in 250 chance that the download is corrupted and 
# the installation fails. What are the odds that after having 50 students download anaconda, 
# no one has an installation issue? 100 students?

In [31]:
n_simulations = 100_000
n_trials = 50

installations = np.random.choice([0,1], p=[0.004, 0.996], size=(n_simulations, n_trials))
(installations.sum(axis=1) == 50).mean()

0.81794

In [32]:
n_simulations = 100_000
n_trials = 100

installations = np.random.choice([0,1], p=[0.004, 0.996], size=(n_simulations, n_trials))
(installations.sum(axis=1) == 100).mean()

0.67356

In [ ]:
# What is the probability that we observe an installation issue within the first 150 students that download anaconda?

In [33]:
n_simulations = 100_000
n_trials = 150

installations = np.random.choice([0,1], p=[0.004, 0.996], size=(n_simulations, n_trials))
(installations.sum(axis=1) == 150).mean()

0.5491

In [ ]:
# How likely is it that 450 students all download anaconda without an issue?

In [34]:
n_simulations = 100_000
n_trials = 450

installations = np.random.choice([0,1], p=[0.004, 0.996], size=(n_simulations, n_trials))
(installations.sum(axis=1) == 450).mean()

0.16425

In [ ]:
#7 There's a 70% chance on any given day that there will be at least one food truck at Travis Park. 
# However, you haven't seen a food truck there in 3 days. How unlikely is this?

In [36]:
n_simulations = 100_000
n_trials = 3

food_truck = np.random.choice([1,0], size=(n_simulations, n_trials), p=[.7, .3])
(food_truck.sum(axis=1) == 0).mean()

0.0266

In [ ]:
# How likely is it that a food truck will show up sometime this week?

In [51]:
n_simulations = 100_000
n_trials = 2

food_truck = np.random.choice([1,0], size=(n_simulations, n_trials), p=[.7, .3])
(food_truck.sum(axis=1) > 0).mean()

0.90992

In [52]:
n_simulations = 100_000
n_trials = 5

food_truck = np.random.choice([1,0], size=(n_simulations, n_trials), p=[.7, .3])
(food_truck.sum(axis=1) > 0).mean()

0.99728

In [ ]:
#8 If 23 people are in the same room, what are the odds that two of them share a birthday? What if it's 20 people? 40?

In [55]:
n_rows = 100_000
n_cols = 23 # to represent 23 individuals

birthdays = np.random.choice(range(365), size=(n_rows, n_cols))
birthdays = pd.DataFrame(birthdays)
birthdays["n_unique"] = birthdays.nunique(axis=1)

# What's the proportion of rows where we have multiple shared days
(birthdays.n_unique != 23).mean()

0.50712

In [53]:
n_rows = 100_000
n_cols = 20 

birthdays = np.random.choice(range(365), size=(n_rows, n_cols))
birthdays = pd.DataFrame(birthdays)
birthdays["n_unique"] = birthdays.nunique(axis=1)

# What's the proportion of rows where we have multiple shared days
(birthdays.n_unique != 20).mean()

0.41256

In [54]:
n_rows = 100_000
n_cols = 40 

birthdays = np.random.choice(range(365), size=(n_rows, n_cols))
birthdays = pd.DataFrame(birthdays)
birthdays["n_unique"] = birthdays.nunique(axis=1)

# What's the proportion of rows where we have multiple shared days
(birthdays.n_unique != 40).mean()

0.89054